body {
  font-family: var(--vscode-editor-font-family);
  margin-left: 3rem;
}

nav {
  margin-bottom: 2.5rem;
}

h2 {
  margin-bottom: 2rem;
}

p {
  line-height: 1.5;
}

p + pre {
  margin-bottom: 2rem;
}

pre + h2 {
  margin-top: 3rem;
}

pre {
  font-size: 1rem;
}
